@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
	margin: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

header{
	position: sticky;
	display : grid;
}
nav{
	align-items: center;
    display: grid;
    grid-auto-flow: column;
}


/* GLOBAL STYLES */

.btn{
	bordar-radius: 5px;
	width: 100%;

}

/*
	 LOS BOTONES DE ACCIONES DEBEN SER DE COLOR VERDE
	 LOS QUE SON SECUNDARIOS DE COLOR GRIS, ASÍ COMO LOS QUE ESTÁN POR DEFECTO.
	 
*/