body {
  margin: 0;
  #root {

    main {
      height: 100%;

      .float-abs {
        position: absolute;
      }

      .fl-left {
        left: 0;
      }

      .fl-right {
        right: 0;
      }

      .fl-top {
        top: 0;
      }

      .fl-bottom {
        bottom: 0;
      }

      .margin {
        margin: 8px;
        height: 100%;
      }

      img {
        &.big {
          width: 65%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: auto;
          aspect-ratio: initial;
        }
      }

      h2 {
        font-size: 3rem;
      }

      div.row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        div.col {
          display: flex;
          flex-direction: column;
          margin-right: 5rem;
        }
      }

      button {
        background-color: #fff;
        color: #000;
        border: none;
        padding: 1rem;
        border-radius: 5px;
        font-size: 1.5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #000;
          color: #fff;
          border: 1px solid #fff;
        }
        cursor: pointer;

        &.accent {
          background-color: #007bff;
          color: white;
          width: -moz-fit-content;
          width: fit-content;
          border: none;
          font-size: 2rem;
          padding: 5px;
          border-radius: 5px;

          &:hover {
            background-color: #0069d9;
          }
        }
      }
      form {
        ul {
          list-style: none;
          li {
            display: flex;
            flex-direction: row;
            div {
              margin-left: 1rem;
              input {
                display: block;
                margin-bottom: 1rem;
              }
            }
          }
        }
        button {
          background-color: white;
          color: black;
          width: -moz-fit-content;
          width: fit-content;
          border: none;
          font-size: 2rem;
          padding: 5px;
          border-radius: 5px;

          &:hover {
            background-color: green;
          }
        }
      }
    }
  }
}
